{% extends '../base.html' %}

{% block content%}
<body>
    <header>
        <h1>List of Books</h1>
    </header>
    <main>
        {% for book in books %}
            <div class="book-card">
                <p>Book Name: <a href={% url 'show_book' book.pk%}> {{ book.name }}</a></p>
                <p>Book Author: {{book.author }}</p>
                <p>{{book.number_of_pages }} Pages</p>
                <p>ISBN: {{book.isbn }}</p>
                <p>Publish Date: {{book.publish_date }}</p>
                <p>
                    <a href={% url 'update_book' book.pk%}>Edit</a>
                    <a href={% url 'delete_book' book.pk%}>Delete</a>
                </p>
            </div>
        {% endfor %}
    </main>
</body>

{% endblock %}
