<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Book List</title>
</head>
<body>
    <main>
        <div>
            <h1>Create a new book</h1>
            <form method = 'POST' enctype = 'multipart/form-data'>
                {% csrf_token %}
                {{ form.as_p }}
                <input type='submit' value="Submit">
            </form>
        </div>
    </main>
</body>
</html>