<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
</head>
<body>

    <main>
        <div class="book-card">
            <h1>Book Name: {{book.name }}</h1>
            {% for author in book.authors.all %}
                <h2>Author: {{ author.name }}</h2>
            {% endfor %}
            {% if book.bookcover %}
                <img src="{{ recipe.image }}">
            {% endif %}
            <p>{{book.number_of_pages }} Pages</p>
            <p>ISBN: {{book.isbn }}</p>
            <p>Publish Date: {{book.publish_date }}</p>
            {% for review in book.reviews.all %}
                <p>Review: {{ review.text }}</p>
            {% endfor %}
        </div>
    </main>
</body>
</html>