<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magazine</title>
</head>
<body>

    <main>
        <div class="book-card">
            <h1>Magazine Title: {{magazine.title }}</h1>
            {% if magazine.cover_image %}
                <img src="{{ magazine.cover_image }}">
            {% endif %}
            <p>Description: {{magazine.description}}</p>
            <p>Release Cycle: {{magazine.release_cycle }}</p>
            {% for issue in magazine.issues.all %}
                <p>{{ issue.title }} </p>
            {% endfor %}
        </div>
    </main>
</body>
</html>