<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magazine List</title>
</head>
<body>
    <header>
        <h1>List of Magazines</h1>
    </header>
    <main>
        {% for magazine in magazines %}
            <div>
                <p>Magazine Title: <a href={% url 'show_magazine' magazine.pk%}> {{ magazine.title }}</a></p>
                <p>Magazine Release Cycle: {{magazine.release_cycle }}</p>
                <p>Description: {{magazine.description }}</p>
                {% if magazine.cover_image %}
                    <img src="{{ magazine.cover_image }}">
                {% endif %}
                <p>
                    <a href={% url 'update_magazine' magazine.pk%}>Edit</a>
                    <a href={% url 'delete_magazine' magazine.pk%}>Delete</a>
                </p>
            </div>
        {% endfor %}
    </main>
</body>
</html>