<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genre List</title>
</head>
<body>
    <header>
        <h1>List of magazines in {{ genre.name }}</h1>
    </header>
    <main>
        <div>
            {% for magazine in genre.magazines.all %}
                <h2> {{ magazine.title }} </h2>
            {% endfor %}
        </div>
    </main>
</body>
</html>