<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
</head>
<body>
    <header>
        <h1>List of Reviews</h1>
    </header>
    <main>
        {% for review in reviews %}
            <div>
                <p> {{review.book.name}} </p>
                <p> {{review.text}} </p>
                <p> {{review.reviewer}} </p>
            </div>
        {% endfor %}
    </main>
</body>
</html>
